.custom-body {
    background-color: #fbd28f;
}

.dashboard-container {
    width: 400px;
    margin: 100px auto;
    background-color: hsl(37, 93%, 70%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
}

.dashboard-title {
    text-align: center;
    color: #ff8c00;
    margin-bottom: 20px;
}

.dashboard-buttons {
    text-align: center;
}

    .dashboard-buttons a {
        display: inline-block;
        margin: 10px;
        padding: 12px 24px;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

        .dashboard-buttons a:hover {
            background-color: #45a049;
        }
