@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Dashboard.css" />
</head>

<body class="custom-body">
    <div class="dashboard-container">
        <h2 class="dashboard-title">Bem-vindo, @ViewBag.Username!</h2>

        <div class="dashboard-buttons">
            <a href="@Url.Action("Cliente", "Home")" class="btn">Cliente</a>
            <a href="@Url.Action("Pedidos", "Home")" class="btn">Pedidos</a>
        </div>
    </div>
</body>
</html>
